gradle-wrapper.jar
/.gradle
/captures/
# gradlew / gradlew.bat 需納入版控，他人 clone 才能建置
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
